html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* Calcite Theme Editor: https://esrips.github.io/calcite-theme-editor/ */

.calcite-mode-light,
.calcite-mode-dark,
.app-theme {
  color-scheme: light;
  --calcite-mode-name: light;
  --calcite-ui-brand: #007AC2;
  --calcite-ui-brand-hover: #00619B;
  --calcite-ui-brand-press: #004974;
  --calcite-ui-text-1: #151515;
  --calcite-ui-text-2: #161616;
  --calcite-ui-text-3: #191919;
  --calcite-ui-text-highlight: #007AC2;
  --calcite-ui-text-inverse: #ffffff;
  --calcite-ui-text-link: #00619B;
  --calcite-link-blue-underline: rgba(0, 122, 194, 0.5);
  --calcite-ui-background: #F7F7F7;
  --calcite-ui-foreground-1: #FFFFFF;
  --calcite-ui-foreground-2: #F2F2F2;
  --calcite-ui-foreground-3: #EDEDED;
  --calcite-ui-inverse: #000000;
  --calcite-ui-inverse-hover: #000000;
  --calcite-ui-inverse-press: #000000;
  --calcite-ui-border-1: #CACACA;
  --calcite-ui-border-2: #D4D4D4;
  --calcite-ui-border-3: #DFDFDF;
  --calcite-ui-border-input: #959595;
  --calcite-ui-icon-color: currentColor;
  --calcite-ui-info: #00619B;
  --calcite-ui-success: #308e29;
  --calcite-ui-warning: #f1c21b;
  --calcite-ui-danger: #D83020;
  --calcite-ui-danger-hover: #A82B1E;
  --calcite-ui-danger-press: #7C1D13;
}

.esri-widget,
.esri-widget__heading,
.esri-menu,
.esri-input,
.esri-bookmarks__bookmark,
.esri-bookmarks__bookmark-name,
.esri-layer-list__item,
.esri-popup__main-container,
.esri-popup__header-container--button:hover,
.esri-popup__pointer-direction {
  color: var(--calcite-ui-text-2) !important;
  background-color: var(--calcite-ui-foreground-1) !important;
}

.esri-ui .esri-button,
.esri-ui .esri-popup__button,
.esri-ui .esri-widget--button {
  color: var(--calcite-ui-icon-color) !important;
  background-color: var(--calcite-ui-foreground-1) !important;
}

.esri-layer-list__item,
.esri-basemap-layer-list__item {
  border-color: var(--calcite-ui-border-2);
  background-color: transparent !important;
}

.esri-basemap-layer-list .esri-widget__heading {
  display: none;
}

calcite-shell[content-behind] #center-container {
  margin: 0 50px 0 50px;
}

calcite-navigation[slot="header"] {
  --calcite-navigation-border-color: var(--calcite-ui-brand);
}

calcite-navigation[slot="header"] [slot] {
  margin: 0 0.2rem;
}

calcite-navigation[slot="header"] calcite-action[slot="navigation-action"]:first-of-type {
  margin-left: 1rem;
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-navigation-logo {
    pointer-events: none;
  --calcite-ui-text-1: var(--calcite-ui-brand);
}


calcite-loader#app-loader {
  --calcite-loader-size: 8rem;
  align-self: center;
  justify-self: center;
}


calcite-modal {
  --calcite-modal-content-background: var(--calcite-ui-background);
}

calcite-modal [slot="secondary"] calcite-label {
  --calcite-label-margin-bottom: 0;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#center-container {
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#view-container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
